/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background : #222731;
    background-alt : #3A404C;
    foreground : #EFEFF0;
    selected : #8FBCBB;
    active : #81A1C1;
    urgent : #bf616a;
}
